<template>
  <v-container>
    <v-layout class="pb-5" align-center justify-center>
      <v-flex xs12 text-xs-center>
        <v-toolbar-title>Code Snip</v-toolbar-title>
      </v-flex>
    </v-layout>
    <v-layout class="md12">
      <v-flex xs12>
        <v-card class="md12">
          <v-card-title>What is this?</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            Welcome to Code Snip! This is a space for random helpful snippets of code.
            Click on any card to copy the code
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

export default {
  components: {}
}
</script>
