<template>
  <v-container>
    <v-layout class="pb-5">
      <v-flex>
        <v-toolbar-title class="display-1">Bash</v-toolbar-title>
      </v-flex>
    </v-layout>

    <v-layout class="mb-4">
      <v-flex>
        <v-card>
          <v-card-title class="headline">SheBang Line</v-card-title>
          <v-flex class="pa-3">
            <h3>Shebang</h3>
            <Prism @click="copyToClipBoard(shebang)"
                   class="clickable pa-0 ma-0" language="bash" :code="shebang">
            </Prism>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
import Prism from 'vue-prism-component'
import 'prismjs'
import 'prismjs/components/prism-bash'
export default {
  name: 'Bash',
  components: {
    Prism
  },
  data: () => ({
    shebang: '#!/usr/bin/env bash'
  }),
  methods: {
    copyToClipBoard(text) {
      navigator.clipboard.writeText(text)
    }
  }
}
</script>

<style scoped>
.clickable {
  cursor: pointer;
}
</style>
