<template>
  <v-container>
    <v-layout class="pb-5">
      <v-flex>
        <v-toolbar-title class="display-1">Helper Downloads</v-toolbar-title>
      </v-flex>
    </v-layout>

    <v-layout class="mb-4">
      <v-flex>
        <v-card>
          <v-card-title class="headline">Default Zshrc File</v-card-title>
          <v-flex class="pa-3">
            <v-btn href="zshrc.txt" download>Download</v-btn>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout class="mb-4">
      <v-flex>
        <v-card>
          <v-card-title class="headline">Mac Start Script</v-card-title>
          <v-flex class="pa-3">
            <v-btn href="/mac_start.sh" download>Download</v-btn>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout class="mb-4">
      <v-flex>
        <v-card>
          <v-card-title class="headline">p10k default</v-card-title>
          <v-flex class="pa-3">
            <v-btn href="/p10k.zsh" download>Download</v-btn>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
export default {
  name: 'Helpers'
}
</script>
