<template>
  <v-container>
    <v-layout class="pb-5">
      <v-flex>
        <v-toolbar-title class="display-1">Python</v-toolbar-title>
      </v-flex>
    </v-layout>

    <v-layout class="mb-4">
      <v-flex>
        <v-card>
          <v-card-title class="headline">Simple Flask Server</v-card-title>
            <v-flex class="pa-3">
              <h3>Server</h3>
                <Prism @click="copyToClipBoard(flaskServerText)"
                      class="clickable pa-0 ma-0" language="python" :code="flaskServerText">
                </Prism>
            </v-flex>
            <v-flex class="pa-3">
              <h3>Install</h3>
                <Prism @click="copyToClipBoard(installDepsText)"
                      class="clickable pa-0 ma-0" language="bash" :code="installDepsText">
                </Prism>
            </v-flex>
            <v-flex class="pa-3">
              <h3>Run</h3>
                <Prism @click="copyToClipBoard(runServerText)"
                      class="clickable pa-0 ma-0" language="bash" :code="runServerText">
                </Prism>
            </v-flex>
        </v-card>
      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
import Prism from 'vue-prism-component'
import 'prismjs'
import 'prismjs/components/prism-python'
import 'prismjs/components/prism-bash'

export default {
  components: {
    Prism
  },
  name: 'Python',
  data: () => ({
    flaskServerText: `from flask import Flask, request
app = Flask(__name__)


@app.route("/")
def hello():
    return str(request.headers)


@app.route("/get")
def get():
    return 'Hello'


if __name__ == '__main__':
    app.run(host='127.0.0.1', port=8080, debug=True)`,
    installDepsText: 'pipenv install flask==0.11',
    runServerText: 'pipenv run python simpleFlask.py'
  }),
  methods: {
    copyToClipBoard(text) {
      navigator.clipboard.writeText(text)
    }
  }
}
</script>

<style scoped>
  .clickable {
    cursor: pointer;
  }
  code {
    display: inherit;
    padding: 0;
    margin: 0;
  }
</style>
